<div class="jumbotron">
  <div class="container text-center">
    <h1>Showing Employee Data</h1>
  </div>
</div>

<div class="container">
  <div class="card">
    <div class="card-body">
      <p>
        Name: <%= @field.name %>
      </p>

      <p>
        Age: <%= @field.age %>
      </p>

      <p>
        Gender: <%= @field.gender %>
      </p>

      <p>
        Designation: <%= @field.designation %>
      </p>
      <%= link_to "Edit", edit_field_path(@field), class: "btn btn-outline-success btn-sm text-decoration-none" %>
      <%= link_to "Back", fields_path, class: "btn btn-outline-primary btn-sm text-decoration-none" %>
    </div>
  </div>
</div>